nav{
    background-color: lightgrey;
    height: 20px;
    width: 145px;
    border: 2px solid green;
    /* border-color: green;
    border-style: solid;
    border-width: 2px; */
    border-radius: 1px;
}
#secondPara{
            background-color: lightslategray;
            height: 250px;
            width: 915px;
            border-top: 2px solid darkblue;
            border-bottom: 2px solid darkcyan;
            border-right: 2px solid darkmagenta;
            border-left: 2px solid darkorchid;
            border-top-left-radius: 2px;
            border-bottom-right-radius: 2px;
            background-image: url(img.jpeg);
            background-position: center;
}